# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
.test_env/
ENV/
env.bak/
venv.bak/
.pytest_cache
release.md
bioneuralnet.egg-info
/dist/
/build/
/docker_files/
.mypy_cache

# Other example data and tests not needed in the repo.
TOPMed_testing/
TOPMed_notes/
Output**

./MOGONET/
MOGONET/
.BRCA_cleaned
tcga_brca-temp
s_embedding_testing**
**.ipynb
tcga_brca
FireHose_data


/bioneuralnet/external_tools/cptac_wrapper.py
TCGA_BRCA_DATA
Smccnet_output/

KG_testing/
KG_Python/
bioneuralnet/utils/kg_apis/
todo_slides.md
test_notes.md
todo.md
test_release.md
test_cuda_issues.md
dpmon/
dp/
dpmon_output/
smokers/
Testing_all/
TCGA_DATA_ALL_FOLDERS/
MOGONET/
.testing

# Blocking sensitive file types globally
*.csv
*.RData

!bioneuralnet/external_tools/
!bioneuralnet/external_tools/SmCCNet.R
!bioneuralnet/external_tools/WGCNA.R
!bioneuralnet/utils/
!bioneuralnet/utils/rdata_to_df.R

# Allowing .csv files in datasets/example1 and its subdirectories
!bioneuralnet/datasets/
!bioneuralnet/datasets/example1/
!bioneuralnet/datasets/example1/**/*.csv

!bioneuralnet/datasets/
!bioneuralnet/datasets/monet/
!bioneuralnet/datasets/monet/**/*.csv

!bioneuralnet/datasets/
!bioneuralnet/datasets/tcga_brca/
!bioneuralnet/datasets/tcga_brca/**/*.csv

!bioneuralnet/datasets/networks/
!bioneuralnet/datasets/networks/**/*.csv
feature_testing

# Sphinx documentation build
docs/build/

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/
bioneuralnet-env/

# IDE and editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS generated files
.DS_Store
Thumbs.db
bioneuralnet/utils/kg_apis/
bioneuralnet/datasets/temp/
# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Test reports
test_report/

# Other
*.bak
*.tmp
test_output/
dpmon_output_*
lib/
.DS_Store
cancer_output_1/GlobalNetwork.csv
