# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
.test_env/
ENV/
env.bak/
venv.bak/
.pytest_cache
release.md
bioneuralnet.egg-info
/dist/
/build/
/docker_files/
.mypy_cache
Quick_Start_testing*.ipynb
TCGA-BRCA_Datatest.ipynb
DevNotes.md
TCGA-BRCA_Datatest_copy.ipynb
split
doc_examples_outdated
dpmon_output
.enviroment
TCGA-BRCA_Dataset_testing*.ipynb

# Other example data and tests not needed in the repo.

Output**
All_Recent_Testing/
bioneuralnet/utils/kg_apis/
KG_Python/
.testing
bioneuralnet/subject_representation_old/
bioneuralnet/downstream_task/subject_representation_old.py
bioneuralnet/external_tools/cptac_wrapper_old.py
node2vec_old.py
wgcna_old.py
WGCNA_old.R
TCGA_BRCA/
CNN/
TCGA_BRCA_DATA/

# Blocking sensitive file types globally
*.csv
*.RData

!bioneuralnet/external_tools/
!bioneuralnet/external_tools/SmCCNet.R
!bioneuralnet/external_tools/WGCNA.R
!bioneuralnet/utils/
!bioneuralnet/utils/rdata_to_df.R

# Allowing .csv files in datasets/example1 and its subdirectories
!bioneuralnet/datasets/
!bioneuralnet/datasets/example1/
!bioneuralnet/datasets/example1/**/*.csv

!bioneuralnet/datasets/
!bioneuralnet/datasets/monet/
!bioneuralnet/datasets/monet/**/*.csv

!bioneuralnet/datasets/
!bioneuralnet/datasets/brca/
!bioneuralnet/datasets/brca/**/*.csv

!bioneuralnet/datasets/networks/
!bioneuralnet/datasets/networks/**/*.csv
feature_testing

# Sphinx documentation build
docs/build/

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/
bioneuralnet-env/

# IDE and editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS generated files
.DS_Store
Thumbs.db
bioneuralnet/utils/kg_apis/
bioneuralnet/datasets/temp/
# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Test reports
test_report/

# Other
*.bak
*.tmp
test_output/
dpmon_output_*
lib/
.DS_Store
cancer_output_1/GlobalNetwork.csv
