# CPU-specific dependencies for BioNeuralNet

# PyTorch Geometric dependencies for CPU
torch_scatter @ https://data.pyg.org/whl/torch-2.0.0+cpu.html
torch_sparse @ https://data.pyg.org/whl/torch-2.0.0+cpu.html
